---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1BXvhgBTaoFOGB2wC9aLOzeB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8mNod3rk2WQ0ekQyB54gtJhE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1BXvhgBTaoFOGB2wC9aLOzeB",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1513015716,
          "data": {
            "object": {
              "id": "ch_1BXvhgBTaoFOGB2w0QSYRUth",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1BXvhgBTaoFOGB2wTnH9r45v",
              "captured": true,
              "created": 1513015716,
              "currency": "usd",
              "customer": "cus_BvnII8jHKeS2sS",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1BXvhgBTaoFOGB2wV4QiwP9s",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1BXvhgBTaoFOGB2w0QSYRUth/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1BXvhfBTaoFOGB2wSmX6Kj8T",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_BvnII8jHKeS2sS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2021,
                "fingerprint": "teVpA6cWfbB9pQS2",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_uCns7YNUkwzfh7",
          "type": "charge.succeeded"
        }
  recorded_at: Mon, 11 Dec 2017 23:08:13 GMT
recorded_with: VCR 2.9.3
