---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_8mNod3rk2WQ0ekQyB54gtJhE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BXxycBTaoFOGB2wsmWQRTgw",
          "object": "token",
          "card": {
            "id": "card_1BXxycBTaoFOGB2wlC6oxHjD",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "teVpA6cWfbB9pQS2",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "35.202.207.154",
          "created": 1513024454,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 11 Dec 2017 20:34:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_1BXxycBTaoFOGB2wsmWQRTgw&email=sebastian_jacobson%40kaulke.biz&plan=base
    headers:
      Authorization:
      - Bearer sk_test_8mNod3rk2WQ0ekQyB54gtJhE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BvpdnsHZkOuwzY",
          "object": "customer",
          "account_balance": 0,
          "created": 1513024454,
          "currency": "usd",
          "default_source": "card_1BXxycBTaoFOGB2wlC6oxHjD",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sebastian_jacobson@kaulke.biz",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BXxycBTaoFOGB2wlC6oxHjD",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_BvpdnsHZkOuwzY",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "teVpA6cWfbB9pQS2",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BvpdnsHZkOuwzY/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_Bvpd5AmElKF8Y7",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1513024454,
                "current_period_end": 1515702854,
                "current_period_start": 1513024454,
                "customer": "cus_BvpdnsHZkOuwzY",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_Bvpd7kCkMyzrnr",
                      "object": "subscription_item",
                      "created": 1513024455,
                      "metadata": {},
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1512967998,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "myflix",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_Bvpd5AmElKF8Y7"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1512967998,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1513024454,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BvpdnsHZkOuwzY/subscriptions"
          }
        }
  recorded_at: Mon, 11 Dec 2017 20:34:15 GMT
recorded_with: VCR 2.9.3
