---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1BY2wyBTaoFOGB2w9NY3JRZg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8mNod3rk2WQ0ekQyB54gtJhE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1BY2wyBTaoFOGB2w9NY3JRZg",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1513043572,
          "data": {
            "object": {
              "id": "ch_1BY2wxBTaoFOGB2wCBkeNCj5",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1513043571,
              "currency": "usd",
              "customer": "cus_BvsangXNChy0HL",
              "description": "fail payment",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "declined_by_network",
                "reason": "generic_decline",
                "risk_level": "normal",
                "seller_message": "The bank did not return any further details with this decline.",
                "type": "issuer_declined"
              },
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1BY2wxBTaoFOGB2wCBkeNCj5/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1BY2w2BTaoFOGB2wM6F0LuzY",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_BvsangXNChy0HL",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2024,
                "fingerprint": "FuZgkYUxELg9CrzU",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_MCUcdFJPwXPD7T",
          "type": "charge.failed"
        }
  recorded_at: Tue, 12 Dec 2017 02:05:21 GMT
recorded_with: VCR 2.9.3
